<div class="card card-body">
  <h3>Add Video Idea</h3>
  <form action="/ideas" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>